<%- include("_header") %>

  <h1><Chatroom></h1>

  


    <div id="messages">
      <%- include("_messages") %>
    </div>

  <form action="/new-msg" method="post">
    <input type="hidden" name="userId" value="<%= user.id %>" />
    <input type="hidden" name="chatroomId" value="<%= chatroom.id %>" />
    <input type="text" name="text" />
    <button type="submit">Send</button>
  </form>

  <script>
    const ws = new WebSocket("ws://localhost:3000")
    
    ws.addEventListener("message", (ev) => {
      const message = JSON.parse(ev.data)
      document.getElementById("messages").innerHTML = message.html
      document.getElementById("userCount").textContent = `Connected Users: ${message.userCount}`
    })
    
    
  </script>
  
<%- include("_footer") %>