
<%- include('_header') %>
  <h1><Chatroom></h1>

  

    <div class="messages-area">
      <%- include("_messages") %>
    </div>
    
  <div class="bottom-area">
    <form action="/new-msg" method="post">
      <span class="text-area">
        <input type="hidden" name="userId" value="<%= user.id %>" />
        <input type="hidden" name="chatroomId" value="<%= chatroom.id %>" />
        <input type="text" name="text" />
      </span>
      <button type="submit">Send</button>
    </form>
  </div>  

  <script>
    const ws = new WebSocket("ws://localhost:3000")
    
    ws.addEventListener("message", (ev) => {
      const message = JSON.parse(ev.data)

      if (message.type === "systemMessage") {
        const systemMessage = message.message
        displaySystemMessage(systemMessage)
      } else {
        document.getElementById("messages").innerHTML = message.html
        document.getElementById("userCount").textContent = `Connected Users: ${message.userCount}`
      }
    })
    
    
  </script>
<%- include('_footer') %>