<%- include("_header") %>

  <div id="chatrooms">
    <%- include("_chatrooms") %>
  </div>

    <form action="/new-chatroom" method="post">
      <input type="text" name="name" />
      <input type="password" name="password" />
      <button type="submit">Create</button>
    </form>

    <h2>Zprávy</h2>

    <div id="userCount">
      <h1>User Count</h1>
    </div>


      <% if (user) { %>
        <%= user.username %>
        <a href="/logout">Odhlásit se</a>
      <h3>Join Chatroom:</h3>
      <form action="/join-chatroom" method="post">
        <select name="chatroomId">
          <% for (const chatroom of chatrooms) { %>
            <option value="<%= chatroom.id %>"><%= chatroom.name %></option>
          <% } %>
        </select>
        <button type="submit">Join</button>
      </form>




      <% } else { %>
        <a href="/register">Registrace</a>
        <a href="/login">Login</a>
      <% } %>


      <script>
        const ws = new WebSocket("ws://localhost:3000")
        
        ws.addEventListener("message", (ev) => {
          const message = JSON.parse(ev.data)
          document.getElementById("messages").innerHTML = message.html
        })

        ws.addEventListener("message", (ev) => {
        const message = JSON.parse(ev.data);

        if (message.type === "messages") {
          document.getElementById("messages").innerHTML = message.html;
        } else if (message.type === "userInformation") {
          document.getElementById("userCount").innerHTML = `<h2>Connected Users: ${message.userCount}</h2>`;

          // Display the list of connected users
          const userList = document.getElementById("userList");
          userList.innerHTML = "";
          for (const user of message.connectedUsers) {
            const listItem = document.createElement("li");
            listItem.textContent = `User: ${user.userId}, Chatroom: ${user.chatroomId}`;
            userList.appendChild(listItem);
          }
        }
      })

      </script>

<%- include("_footer") %>




